body {
    font-size: 15px;
}

.page > .topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #D43E33;
    padding: 17px 10px;
}

.page > .topBar > .logo > svg {
    width: 142px;
    height: 25px;
    vertical-align: top;
}

.page > .topBar > a {
    color: white;
    font-size: 15px;
    display: inline-block;
    line-height: 20px;
    padding: 5px 11px;
    position: relative;

}

.page > .topBar > a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    border-radius: 30px;
    border: 1px solid white;
    transform-origin: 0 0;
    transform: scale(0.5);

}

/*tabs*/
.tabs {
    display: flex;
}

.tabs > li {
    width: 33.3333333%;
    text-align: center;
    line-height: 20px;
    border-bottom: 1px solid #E8E8E8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabs > li.active {
    color: #D43E33;
}

.tabs > li > .text {
    padding: 10px 5px;
    position: relative;
    top: 1px;
}

.tabs > li.active > .text::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background: #D43E33;
    bottom: 1px;
    left: 0;
}

.tab-content > li {
    display: none;
}

.tab-content > li.active {
    display: block;
}

section .playLists {

}

section .playLists > h2 {
    border-left: 2px solid #D43E33;
    font-size: 17px;
    line-height: 1;
    padding-left: 8px;
    margin:20px  0 8px;
}

section .playLists > ol.songs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 13px;

}

section .playLists > ol.songs > li {
    margin:8px 0;
    width: 32.8%;
}

section .playLists > ol.songs > li  img {
    width: 100%;
}
section .playLists > ol.songs > li p{
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 18px;
    height: 36px;
    padding: 0 6px;
}

.page > .Art {
}

