/*iphone5*/
@media screen and (max-height:620px){
    section.disk {
        padding-top: 65px;
        position: relative;
    }
    section.disk::after {
        position: absolute;
        content: '';
        width: 84px;
        height: 122px;
        top: 0;
        left: 135px;
    }

    section.disk > .circle {
        width: 248px;
        height: 248px;
    }


    .circle > img {
        width: 150px;
        height: 150px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -75px;
        margin-top: -75px;
    }


    .circle svg{
        width: 50px;
        height: 50px;

    }

    .lyric >.showArea{
        margin-top: 14px;
        height:87px;
    }

    .lyric >h1{
        font-size: 15px;
        margin-top: 25px;
        line-height: 17px;
    }

    .lyric-wrapper{
        height: 87px;

    }

    .lyric-wrapper   p{
        font-size:13px;
        padding-bottom: 5px;
        line-height: 24px;
        width:250px;
    }
    .buttonWrapper{;
        width: 250px;
        height: 36px;
    }
    .actions >.buttonWrapper>a{
        color: #D43E33;
        width:119px ;
        margin:0 6px;
        line-height: 34px;
        border:1px solid #D43B33;
        font-size:15px;
        border-radius: 4px;
    }
}
