.page {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;

}

.page > .bgImg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    /*background:  url("http://ww1.sinaimg.cn/large/d6c04639gy1fkdfpqh5i6j20xc0xcaed.jpg") center no-repeat;*/
    background-size: cover;
    filter: blur(20px) brightness(0.5);
}

section.disk {
    padding-top: 70px;
    position: relative;

}

section.disk::after {
    position: absolute;
    content: '';
    width: 96px;
    height: 137px;
    top: 0;
    left: 160px;
    background: transparent url("http://ww1.sinaimg.cn/large/d6c04639gy1fkdhmdmoroj20800bfjrb.jpg") no-repeat center;
    background-size: contain;
    z-index: 3;
}

section.disk > .circle {
    width: 296px;
    height: 296px;
    margin: 0 auto;
    position: relative;
}

section.disk > .circle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent url("http://ww1.sinaimg.cn/large/d6c04639gy1fkdhmdng5zj20oo0oodha.jpg") no-repeat center;
    background-size: cover;

}

section.disk > .circle::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent url("http://ww1.sinaimg.cn/large/d6c04639gy1fkdhmdlo6zj20ds0dst8k.jpg") no-repeat center;
    background-size: cover;

}

.circle > img {
    width: 184px;
    height: 184px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -92px;
    margin-top: -92px;
    border-radius: 50%;

}

.circle svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -28px;
    margin-top: -28px;
    width: 56px;
    height: 56px;
    fill: white;
    z-index: 10;
}

.circle::after {
    animation: spin 20s linear infinite;
}

.circle > img {
    animation: spin 20s linear infinite;
}

.circle.pause > img, .circle.pause::after {
    animation-play-state: paused;
}

@keyframes spin {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

.playing > svg.icon-play {
    display: none;
}

.playing > svg.icon-pause {
    display: block;
}

.pause > svg.icon-play {
    display: block;
}

.pause > svg.icon-pause {
    display: none;
}

.lyric {
    color: #AEABAC;
    text-align: center;
    flex-grow: 1;

}

.lyric > .showArea {
    height: 120px;
    overflow: hidden;
}

.lyric > h1 {
    color: #FFFFFF;
    font-size: 18px;
    margin-top: 30px;
    line-height: 2;
}

.lyric-wrapper {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: transform 0.3s;
}

.lyric-wrapper p {
    font-size: 16px;
    padding-bottom: 8px;
    line-height: 32px;
    width: 305px;
}

.lyric-wrapper p.active {
    color: #FFFFFF;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.buttonWrapper {
    display: flex;
    width: 292px;
    height: 42px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.actions > .buttonWrapper > a {
    color: #D43E33;
    width: 140px;
    padding: 0 6px;
    line-height: 40px;
    border: 1px solid #D43B33;
    font-size: 18px;
    text-align: center;
    border-radius: 4px;
    background-color: transparent;
}

.actions > .buttonWrapper > .loadButton {
    color: #FFFFFF;
    background-color: #D43E33;
}


.hidden{
    display: none;
}
/*iphone5*/
@media screen and (max-height: 620px) {
    section.disk {
        padding-top: 65px;
        position: relative;
    }

    section.disk::after {
        position: absolute;
        content: '';
        width: 84px;
        height: 122px;
        top: 0;
        left: 135px;
    }

    section.disk > .circle {
        width: 248px;
        height: 248px;
    }

    .circle > img {
        width: 150px;
        height: 150px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -75px;
        margin-top: -75px;
    }

    .circle svg {
        width: 50px;
        height: 50px;

    }

    .lyric > .showArea {
        margin-top: 14px;
        height: 87px;
    }

    .lyric > h1 {
        font-size: 15px;
        margin-top: 25px;
        line-height: 17px;
    }

    .lyric-wrapper {
        height: 87px;

    }

    .lyric-wrapper p {
        font-size: 13px;
        padding-bottom: 5px;
        line-height: 24px;
        width: 250px;
    }

    .actions > .buttonWrapper {;
        width: 250px;
        height: 36px;
    }

    .actions > .buttonWrapper > a {
        color: #D43E33;
        width: 119px;
        margin: 0 6px;
        line-height: 34px;
        border: 1px solid #D43B33;
        font-size: 15px;
        border-radius: 4px;
    }
}






